/* Définition des polices personnalisées */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

/* Eléments principaux de la page */

body
{
    font-family: 'Raleway', sans-serif;
    margin: auto;
}

h1
{
    font-weight: bold;
}

h3
{
    font-size: 16px;
    font-weight: bold;
}

a
{
    text-decoration: none;
    color: inherit;
}

/* Header */

header
{
    max-width: 1440px;
    margin: auto; 
    display: flex;
    padding: 0 32px;
}

#logo
{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 0 16px 0;
}

/* Navigation */

#menu
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

nav ul
{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
}

.nav a
{
    text-decoration: none;
    padding: 33px 32px 16px 32px;
    border-top: 3px solid transparent;
}

.nav2
{
    color:black;
}

nav a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

.inscription_nav
{
    color:#0065FC;
    font-weight: bold; 
}

.inscription
{
    display: none;
}

/* Main */

main
{
    max-width: 1440px;
    margin: auto;
    padding: 0 32px;
}

#titre h1
{
    margin-bottom: 0;
}

#titre p
{
    margin-top: 8px;
}

/* Section 1 - Recherche  */

#recherche
{
    display: flex;
    flex-direction: row;
}

.icon_recherche
{
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 16px 0px 0px 16px;
    padding: 16px 22px;
    font-size: larger;
}

.recherche_input
{
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-right: none;
    border-left: none;
    padding: 0px 22px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    width: 222px;
}

.bouton_recherche
{
    background-color: #0065FC;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 0px 16px 16px 0px;
    padding: 0px 25px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.fa-search
{
    display: none !important;
    font-size: large;
}

/* Section 2 - Filtres  */

#filtres 
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
}

#filtres h2
{
    display: flex;
    align-items: center;
    margin: 0 32px 16px 0;
    font-size: 18px;
}

.filtre
{
    display: flex;
    align-items: center;
    font-weight: bold;
    border: 2px solid #DCDCDC;
    margin: 0 20px 16px 0; 
    border-radius: 32px;
    cursor: pointer;
}

.filtre_icon
{
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    margin: -2px;
    font-size: larger;
}

.filtre_titre
{
    margin: 0px 16px;
    font-size: 18px;
}

.filtre:hover
{
    color: #0065FC;
    background-color: #F2F2F2;
    transition: 0.3s;
}

#information
{
    display: flex;
    align-items: center;
    margin: 16px 0 32px 0;
}

.info_icon
{
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    border: solid 1px #DCDCDC;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    margin-right: 12px;
    font-size: 12px;
}

/* Section 3 - Hébergements  */

#hebergements
{
    display: flex;
    max-height: 650px;
}

    /* Hébergements main */

#hebergement_main
{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 16px;
    padding: 40px 0;
}

#hebergement_main h2
{
    padding-left: 4%;
    margin: 0;
}

#hebergement_vignette
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 0;
}

.lien_hebergement
{
    margin: 16px 0px 16px 0px;
    width: 28%;
}

.hebergement_vignette_cadre
{
    background-color: white;
    border-radius: 16px;
    box-shadow: 5px 5px 16px #DCDCDC;
    padding: 5px 5px 10px 5px;
}

.hebergement_vignette_cadre:hover 
{
    box-shadow: none;
}

.hebergement_vignette_cadre h3
{
    padding-left: 12px;
    margin: 4px 0 0 0;
}

.hebergement_vignette_cadre p
{
    padding-left: 12px;
    margin: 6px 0;
    font-size: 14px;
}

.hebergement_vignette_main_image
{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.etoiles
{
    padding-left: 12px;
    color:#0065FC;
    font-size: 12px;
}

.gris
{
    color: #DCDCDC;
}

#plus
{
    font-weight: bold;
    padding: 16px 0 0 4%;
    width: 100%;
    font-size: 18px;
    margin-top: 5px;
}

    /* Hébergements populaires */

#hebergement_populaire
{
    min-width: 29%;
    padding: 40px 20px 0 20px;
    background-color: #f2f2f2;
    border-radius: 16px;
    margin-left: 36px;
}

#hebergement_populaire h2
{
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.hebergement_populaire_vignette
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px 10px;
}

.lien_populaire 
{
    margin: 15px 0 20px 0;
    width: 100%;
}

.cadre_populaire 
{
    background-color: white;
    border-radius: 12px;
    box-shadow: 5px 5px 16px #DCDCDC;
    display: flex;
    padding: 5px;
}

.cadre_populaire:hover 
{
    box-shadow: none;
}

.hebergement_vignette_populaire_image
{
    width: 135px;
    height: 140px;
    object-fit: cover;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.texte_populaire h3
{
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

.texte_populaire p
{
    padding-left: 20px;
    margin-bottom: 38px;
    margin-top: 10px;
    font-size: 14px;
}

.texte_populaire .etoiles
{
    padding-left: 20px;
}

/* Section 4 - Activités  */

#activites
{
   margin: 32px 0 64px 0;
}

.vignette_activite
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 500px;
    margin-top: 16px;
}

.lien_activite
{
    border-radius: 16px;
    box-shadow: 5px 5px 16px #DCDCDC;
    width: 23%;
}

.lien_activite:hover 
{
    box-shadow: none;
}

.activite_image
{
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.activite_titre
{
    margin: 16px 16px;
}

.activite_image1
{
    height: 445px;
}

.activite_image2
{
    height: 210px;
}

.activite_image3
{
    height: 135px;
}

.activite_image4
{
    height: 445px;
}

.activite_image5
{
    height: 165px;
}

.activite_image6
{
    height: 180px;
}

/* Footer */

footer
{
   background-color: #F2F2F2; 
   width: 100%; 
}

.titre_footer
{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 32px;
}

footer li
{
    font-size: 16px;
    margin: 16px 0;
}

footer li a:hover
{
    text-decoration: underline;
}

#bottom
{
  display: flex;
  max-width: 1440px;
  margin: auto;
  padding: 0 2%;
}

.class_bottom
{
    width: 35%;
    padding: 32px 0px;
    list-style: none;
    margin: 0;
}


/* ------------------------------    Media Queries   ------------------------------ */


/* Header */

@media all and (max-width: 1200px)
{
    header
    {
        max-width: 100%;
        padding: 0;
    }

    #logo
    {
        padding: 32px 2% 16px 2%;
    }
}

@media all and (max-width: 767px) 
{
    header
    {
        flex-direction: column;
        margin: 0;
    }

    #logo
    {
        padding: 32px 5% 32px 5%;
    }
}

/* Navigation */

@media all and (max-width: 767px) 
{
    header
    {
        flex-direction: column;
    }
    
    #logo
    {
        justify-content: space-between;
    }

    #menu
    {
        justify-content: flex-start;
    }

    nav
    {
        width: 100%;
    }

    nav ul
    {
        padding: 0;
        margin: 0;
    }

    nav li
    {
        width: 50%;
        border-bottom: 3px solid #DCDCDC;
        padding-bottom: 16px;
        text-align: center;
    }
    
    nav a:hover
    {
        border-top: none;
    }

    nav li:hover
    {
        border-bottom: 3px solid #0065FC;
    }

    .inscription_nav
    {
        display: none;
    }

    .inscription
    {
        display: flex;
        color:#0065FC;
        font-weight: bold; 
        font-size: 18px;
    }
}

/* Main */

@media all and (max-width: 1200px)
{
    main
    {
        max-width: 100%;
        padding: 0;
    }
    #titre
    {
        margin-bottom:16px;
        padding: 0 2%;
    }
}

@media all and (min-width: 768px) and (max-width: 992px)
{
    #titre
    {
        padding: 0 3%;
    }
}


@media all and (max-width: 767px) 
{
    #titre
    {
        margin-bottom: 32px;
        padding: 0 5%;
    }

    #titre p 
    {
        margin-top: 12px;
    }
}

/* Section 1 - Recherche  */

@media all and (max-width: 1200px)
{
    #recherche
    {
        padding: 0 2%;
    }
}

@media all and (min-width: 768px) and (max-width: 992px)
{
    #recherche
    {
        padding: 0 3%;
    }
}

@media all and (max-width: 767px) 
{
    .recherche_input
    {
        width: 100%;
    }
    
    .bouton_recherche span
    {
        display: none;
    }

    .bouton_recherche
    {
        border-radius: 16px;
        padding: 0px 16px;
        margin-left: -12px;
    }

    .fa-search
    {
        display: block !important;
    }

    #recherche
    {
        padding: 0 5%;
    }
}

/* Section 2 - Filtres  */

@media all and (max-width: 1200px)
{
    #filtres
    {
        padding: 0 2%;
    }

    #filtres h2
    {
        margin: 0 16px 16px 0;
    }

    #information
    {
        padding: 0 2%;
        margin: 0px 0 16px 0;
    }
}

@media all and (min-width: 768px) and (max-width: 992px)
{
    #filtres
    {
        padding: 0 3%;
    }

    #filtres h2
    {
        width: 100%;
    }

    #information
    {
        padding: 0 3%;
    }
}

@media all and (max-width: 767px) 
{
    #filtres
    {
        padding: 0 0 0 5%;
    }

    #filtres h2
    {
        width: 100%;
    }

    .filtre
    {
        margin: 0 10px 10px 0;
    }

    .filtre_icon
    {
        font-size: large;
        height: 48px;
        width: 48px;
    }

    .filtre_titre
    {
        margin: 0 12px;
        font-size: 16px;
    }

    .filtre2
    {
        margin-right: 50%;
    }

    #information
    {
        padding: 0 0 0 5%;
    }
}

/* Section 3 - Hébergements  */


@media all and (max-width: 1200px)
{
    #hebergements
    {
        flex-direction: column-reverse;
        max-height: none;
    }
}

    /* Hébergements main */

@media all and (max-width: 1200px)
{
    #hebergement_main
    {
        background: none;
        max-width: 100%;
        padding: 36px 0 0 0;
        margin: 0;
    }

    #hebergement_main h2 
    {
        padding-left: 2%;
    }

    #hebergement_vignette
    {
        margin: 0;
    }

    .lien_hebergement
    {
        margin: 16px 10px;
        width: 30%;
    }

    .hebergement_vignette_main_image
    {
        height: 106px;
    }

    #plus
    {
        padding: 20px 0 26px 2%;
        margin-top: 0;
    }
}

@media all and (min-width: 768px) and (max-width: 992px)
{
    .lien_hebergement
    {
        width: 45%;
    }

    #hebergement_main h2 
    {
        padding-left: 3%;
    }

    #plus
    {
        padding: 20px 0 26px 3%;
    }
}

@media all and (max-width: 767px) 
{
    .lien_hebergement
    {
        width: 90%;
        margin: 8px 10px;
    }

    #hebergement_main h2 
    {
        padding-left: 5%;
        padding-bottom: 8px;
    }

    #plus
    {
        padding-left: 5%;
        padding: 20px 0 26px 5%;;
    }
}

    /* Hébergements populaires */

@media all and (max-width: 1200px)
{
    #hebergement_populaire
    {
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding: 40px 0 16px 0;
        align-items: flex-start;
    }

    #hebergement_populaire h2
    {
        padding: 0 2%;
        margin: 0;
    }

    .hebergement_populaire_vignette
    {
        flex-direction: row;
        justify-content: space-evenly;
        align-content: space-between;
        height: auto;
        margin: 16px 0;
    }

    .lien_populaire
    {
        margin: 10px 10px;
        width: 30%;
    }

    .hebergement_vignette_populaire_image
    {
        width: 45%;
        height: 150px;
    }

    .texte_populaire h3
    {
        padding-left: 15px;
    }

    .texte_populaire p
    {
        padding-left: 15px;
        margin-bottom: 45px;
    }

    .texte_populaire .etoiles
    {
        padding-left: 15px;
    }
}

@media all and (min-width: 768px) and (max-width: 992px)
{
    .lien_populaire
    {
        margin: 16px 20px;
        width: 95%;
    }

    #hebergement_populaire h2 
    {
        padding: 0 3%;
    }
}

@media all and (max-width: 767px) 
{
    .lien_populaire
    {
        margin: 8px 10px;
        width: 90%;
    }
    
    #hebergement_populaire h2 
    {
        padding: 0 5%;
    }
}

/* Section 4 - Activités  */

@media all and (max-width: 1200px)
{
    #activites
    {
        margin: 0px 0 32px 0;
    }

    #activites h2
    {
        padding-left: 2%;
        margin: 0 0 16px 0;
    }

    .vignette_activite
    {
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
    }

    .activite_image
    {
        width: 100%;
        height: 140px;
    }

    .lien_activite
    {
        margin: 16px 10px;
        width: 30%;
    }
}

@media all and (min-width: 768px) and (max-width: 992px)
{
    .lien_activite
    {
        width: 45%;
    }

    #activites h2
    {
        padding-left: 3%;
    }
}

@media all and (max-width: 767px) 
{
    .lien_activite
    {
        width: 90%;
    }

    #activites h2
    {
        padding-left: 5%;
    }
}

/* Footer */

@media all and (min-width: 768px) and (max-width: 992px)
{
    #bottom
    {
        padding: 0 3%;
    }
}

@media all and (max-width: 768px)
{
    #bottom
    {
        flex-direction: column;
        padding: 32px 0 16px 5%;
    }

    .class_bottom
    {
        padding: 0 0 10px 0;
        width: auto;
    }
}
