/* Définition des polices personnalisées */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

/* Eléments principaux de la page */

body
{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

h1
{
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
  }

/* Header */

header
{
    max-width: 1440px;
    margin: auto; 
    display: flex;
}

#logo
{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 16px;
}

@media all and (max-width: 1200px)
{
    header
    {
        margin-left: 20px;
        max-width: 100%;
    }

}


@media all and (max-width: 768px)
{


}

/* Navigation */

#menu
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

nav ul
{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
}

.nav a
{
    text-decoration: none;
    padding: 34px 32px 16px 32px;
    border-top: 3px solid transparent;
}

.nav2
{
    color:black;
}


nav a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
   
}

.inscription
{
    color:#0065FC;
    font-weight: bold; 
}

@media all and (max-width: 768px)
{
    nav a:hover
    {
    border-top: none;
    }

}

/* Main */

main
{
    max-width: 1440px;
    margin: auto;
}

#titre h1
{
    margin-bottom: 0;
}

#titre p
{
    margin-top: 8px;
}

@media all and (max-width: 1200px)
{
    main
    {
        max-width: 100%;
    }
    #titre
    {
        margin: 0 0 16px 20px;
    }
}

/* Section 1 - Recherche  */

#recherche
{
    display: flex;
    flex-direction: row;
}

.icon_recherche
{
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 16px 0px 0px 16px;
    padding: 16px 22px;
}

.recherche_input
{
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-right: none;
    border-left: none;
    padding: 0px 22px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    width: 222px;
}

.bouton_recherche
{
    background-color: #0065FC;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 0px 16px 16px 0px;
    padding: 0px 25px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

@media all and (max-width: 1200px)
{
    #recherche
    {
        margin-left: 20px;
    }
}

@media all and (max-width: 768px)
{
    
}

/* Section 2 - Filtres  */

#filtres 
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
}

#filtres h2
{
    display: flex;
    align-items: center;
    margin: 0 32px 16px 0;
    font-size: 18px;
}

.filtre
{
    display: flex;
    align-items: center;
    font-weight: bold;
    border: 2px solid #DCDCDC;
    margin: 0 32px 16px 0; 
    border-radius: 32px;
    cursor: pointer;
}

.filtre_icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin: -2px;
}

.filtre_titre
{
    margin: 0px 16px;
    font-size: 18px;
}

.filtre:hover
{
    color: #0065FC;
    background-color: #F2F2F2;
    transition: 0.3s;
}

#information
{
    display: flex;
    align-items: center;
    margin: 16px 0 32px 0;
}

.info_icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    border: solid 1px #DCDCDC;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    margin-right: 12px;
    font-size: 12px;
}

@media all and (max-width: 1200px)
{
    #filtres
    {
        margin-left: 20px;
    }

    #filtres h2
    {
        margin: 0 16px 16px 0;
    }

    .filtre
    {
        margin: 0 16px 16px 0;
    }

    #information
    {
        padding-left: 20px;
        margin: 0px 0 16px 0;
    }

}

@media all and (max-width: 768px)
{
    
}


/* Section 3 - Hébergements  */

#hebergements
{
    display: flex;
    justify-content: space-between;
    max-height: 650px;
}

@media all and (max-width: 1200px)
{
    #hebergements
    {
        flex-direction: column-reverse;
        max-height: none;
        width: 100%;
    }
}

@media all and (max-width: 768px)
{
    
}

    /* Hébergements main */

#hebergement_main
{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 16px;
    max-width: 65%;
    padding: 40px 0;
    margin-right: 10px;
}

#hebergement_main h2
{
    padding-left: 45px;
    margin: 0;
}

#hebergement_vignette
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 0;
}

.lien_hebergement
{
    margin: 16px 0px 16px 0px;
    width: 28%;
}

.hebergement_vignette_cadre
{
    background-color: white;
    border-radius: 16px;
    box-shadow: 5px 5px 16px #DCDCDC;
    padding: 5px 5px 10px 5px;
}

.hebergement_vignette_cadre:hover 
{
    box-shadow: none;
}

.hebergement_vignette_cadre h3
{
    padding-left: 12px;
    margin: 4px 0 0 0;
}

.hebergement_vignette_cadre p
{
    padding-left: 12px;
    margin: 6px 0;
    font-size: 14px;
}

.hebergement_vignette_main_image
{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.etoiles
{
    padding-left: 12px;
    color:#0065FC;
    font-size: 12px;
}

.gris
{
    color: #DCDCDC;
}

#plus
{
    font-weight: bold;
    padding-left: 45px;
    width: 100%;
    font-size: 18px;
    margin-top: 5px;
}

@media all and (max-width: 1200px)
{
    #hebergement_main
    {
        background: none;
        max-width: 100%;
        padding: 36px 0 0 0;
        margin: 0;
    }

    #hebergement_main h2 
    {
        padding-left: 20px;
    }

    #hebergement_vignette
    {
        margin: 0;
    }

    .lien_hebergement
    {
        margin: 10px 10px;
        width: 30%;
    }

    .hebergement_vignette_main_image
    {
        height: 106px;
    }

    #plus
    {
        padding-left: 20px;
        margin-top: 0;
    }
}

@media all and (max-width: 768px)
{
    
}

    /* Hébergements populaires */

#hebergement_populaire
{
    width: 29%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    padding: 40px 20px 0 20px;
    background-color: #f2f2f2;
    border-radius: 16px;
}

#hebergement_populaire h2
{
    margin: 0;
}

#hebergement_populaire .fa-chart-line 
{
    margin-left: 110px;
}

.hebergement_populaire_vignette
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px 0;
}

.lien_populaire 
{
    margin: 15px 0 20px 0;
    width: 100%;
}

.cadre_populaire 
{
    background-color: white;
    border-radius: 12px;
    box-shadow: 5px 5px 16px #DCDCDC;
    display: flex;
    min-width: 350px;
    height: 110x;
    padding: 5px;
}

.cadre_populaire:hover 
{
    box-shadow: none;
}

.hebergement_vignette_populaire_image
{
    width: 135px;
    height: 140px;
    object-fit: cover;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.texte_populaire h3
{
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

.texte_populaire p
{
    padding-left: 20px;
    margin-bottom: 38px;
    margin-top: 10px;
    font-size: 14px;
}

.texte_populaire .etoiles
{
    padding-left: 20px;
}


@media all and (max-width: 1300px)
{
    #hebergement_populaire
    {
        margin-left: auto;
    }
}

@media all and (max-width: 1200px)
{
    #hebergement_populaire
    {
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding: 40px 0 16px 0;
        align-items: flex-start;
    }

    #hebergement_populaire h2
    {
        padding-left: 20px;
    }

    #hebergement_populaire .fa-chart-line 
    {
        margin-left: 45px;
    }

    .hebergement_populaire_vignette
    {
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
    }

    .cadre_populaire
    {
        min-width: 290px;
        height: 140px;
    }
    
    .lien_populaire
    {
        margin: 10px 10px;
        width: 30%;
    }

    .hebergement_vignette_populaire_image
    {
        width: 45%;
    }

    .texte_populaire h3
    {
        padding-left: 15px;
    }

    .texte_populaire p
    {
        padding-left: 15px;
        margin-bottom: 36px;
    }

    .texte_populaire .etoiles
    {
        padding-left: 15px;
    }
}

/* Section 4 - Activités  */

#activites
{
   margin: 32px 0 64px 0;
}

.vignette_activite
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 500px;
    margin-top: 16px;
}

.lien_activite
{
    border-radius: 16px;
    box-shadow: 5px 5px 16px #DCDCDC;
    width: 325px;
}

.lien_activite:hover 
{
    box-shadow: none;
}

.activite_image
{
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.activite_titre
{
    margin: 16px 16px;
}

.activite_image1
{
    height: 445px;
}

.activite_image2
{
    height: 210px;
}

.activite_image3
{
    height: 135px;
}

.activite_image4
{
    height: 445px;
}

.activite_image5
{
    height: 165px;
}

.activite_image6
{
    height: 180px;
}

@media all and (max-width: 1200px)
{
    #activites
    {
    margin: 0px 0 32px 0;
    }

    #activites h2
    {
        padding-left: 20px;
        margin: 0 0 16px 0;
    }

    .vignette_activite
    {
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
    }

    .activite_image
    {
        width: 100%;
        height: 140px;
    }

    .lien_activite
    {
        margin: 10px 10px;
        width: 30%;
    }
}


@media all and (max-width: 768px)
{


}


/*  
width: max-content;
  */


/* Footer */

footer
{
   background-color: #F2F2F2; 
   width: 100%; 
}

h3
{
    font-size: 16px;
    font-weight: bold;
}

footer p
{
    font-size: 16px;
}

#bottom
{
  display: flex;
  max-width: 100%;
  width: 1440px;
  margin: auto;
  padding: 0px 32px;
}

.class_bottom
{
    width: 30%;
    padding: 32px 32px;
}

@media all and (max-width: 1200px)
{
    .class_bottom
    {
        padding: 32px 0px;
        width: 35%;
    }

    #bottom
    {
        width: 100%;
    }
}

@media all and (max-width: 768px)
{
    #bottom
    {
        flex-direction: column;
        padding: 32px 0px 16px 0px;
    }

    .class_bottom
    {
        padding: 0px 0px 10px 32px;
        width: auto;
    }

    .class_bottom p
    {
        margin: 10px 0;
    }
}
