/* Définition des polices personnalisées */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

/* Eléments principaux de la page */

body
{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

h1
{
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
  }

/* Header */

header
{
    max-width: 1440px;
    margin: auto; 
    display: flex;
}

#logo
{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 16px;
    
}

/* Navigation */

#menu
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    
}

nav ul
{
    display: flex;
    align-items: center;
    list-style-type: none;
    
}

.nav a
{
    text-decoration: none;
    padding: 34px 32px 16px 32px;
    border-top: 3px solid transparent;
}

.nav2
{
    color:black;
}


nav a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    
}

.inscription
{
    color:#0065FC;
    font-weight: bold; 
}


/* Main */

main
{
    max-width: 1440px;
    margin: auto;
}

/* Section 1 - Recherche  */

#recherche
{
    display: flex;
    flex-direction: row;
}

#icon_recherche
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 16px 0px 0px 16px;
    padding: 16px 22px;
}

.recherche_input
{
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-right: none;
    border-left: none;
    padding: 0px 22px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    width: 222px;
}


.bouton_recherche
{
    background-color: #0065FC;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 0px 16px 16px 0px;
    padding: 0px 25px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}


/* Section 2 - Filtres  */


#filtres 
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
}

#filtres h2
{
    display: flex;
    align-items: center;
    margin: 0 32px 16px 0;  
}

.filtre
{
    display: flex;
    align-items: center;
    font-weight: bold;
    border: 2px solid #DCDCDC;
    margin-right: 32px;
    margin-bottom: 16px;
    border-radius: 32px;
    cursor: pointer;
}

.filtre_icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    margin: -2px;
}

.filtre_titre
{
    margin: 0 16px;
}


.filtre:hover
{
    color: #0065FC;
    background-color: #F2F2F2;
    transition: 0.3s;
}

#information
{
    display: flex;
    align-items: center;
    margin: 16px 0 32px 0;
}

#info_icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    border: solid 1px #DCDCDC;
    border-radius: 100%;
    height: 32px;
    width: 32px;
    margin-right: 16px;
  }
  

/* Section 3 - Hébergements  */

#hebergements
{
    display: flex;
    justify-content: space-between;
    max-height: 640px;
}

    /* Hébergements main */

#hebergement_main
{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 15px;
    max-width: 950px;
    padding: 40px 0;
    margin-right: 20px;
}

#hebergement_main h2
{
    padding-left: 50px;
    margin: 0;
}

#hebergement_vignette
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 0;
}

.lien_hebergement
{
    margin: 15px 10px 20px 10px;
}

.hebergement_vignette_cadre
{
    background-color: white;
    border-radius: 16px;
    box-shadow: 5px 5px 16px #DCDCDC;
    padding: 5px 5px 10px 5px;
}

.hebergement_vignette_cadre:hover 
{
    box-shadow: none;
}

.hebergement_vignette_cadre h3
{
    padding-left: 12px;
    margin: 4px 0 0 0;
}

.hebergement_vignette_cadre p
{
    padding-left: 12px;
    margin: 6px 0;
    font-size: 14px;
}

.hebergement_vignette_main_image
{
    width: 235px;
    height: 115px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.etoiles
{
    padding-left: 12px;
    color:#0065FC;
    font-size: 12px;
}

.gris
{
    color: #DCDCDC;
}

#plus
{
    font-weight: bold;
    padding-left: 50px;
    width: 100%;
}



    /* Hébergements populaires */


#hebergement_populaire
{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    padding: 40px 20px 0 20px;
    background-color: #f2f2f2;
    border-radius: 16px;
}

#hebergement_populaire h2
{
    margin: 0;
}

#hebergement_populaire .fa-chart-line 
{
    margin-left: 100px;
}

.hebergement_populaire_vignette
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px 0;
}

.lien_populaire 
{
    margin: 15px 0 20px 0;
}

.cadre_populaire 
{
    background-color: white;
    border-radius: 16px;
    box-shadow: 5px 5px 16px #DCDCDC;
    display: flex;
    width: 334px;
    height: 134px;
    padding: 5px;
}

.cadre_populaire:hover 
{
    box-shadow: none;
}

.hebergement_vignette_populaire_image
{
    width: 127px;
    height: 134px;
    object-fit: cover;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}


.texte_populaire h3
{
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

.texte_populaire p
{
    padding-left: 20px;
    margin-bottom: 32px;
    margin-top: 10px;
    font-size: 14px;
}

.texte_populaire .etoiles
{
    padding-left: 20px;
}





/* Section 4 - Activités  */

#activites
{
    display: flex;
    margin: 32px;
}


.activite_image
{
    height:100%;
    width: 100%;
    object-fit: cover;
}

.activite_vignette
{
    border-radius: 32px;
    box-shadow: 5px 5px 16px #DCDCDC;
    cursor: pointer; 
    width: 30%;
    overflow: hidden;
    

}


.activite_titre
{
    margin: 16px 16px;
}


.activite_vignette1
{
    
}

.activite_vignette2
{
   
}

.activite_vignette3
{
    
}

.activite_vignette4
{

}

.activite_vignette5
{

}

.activite_vignette6
{

}


/* Footer */

footer
{
   background-color: #F2F2F2; 
   width: 100%; 
}

h3
{
    font-size: 16px;
    font-weight: bold;
}

footer p
{
    font-size: 16px;
}

#bottom
 {
  display: flex;
  max-width: 100%;
  width: 1440px;
  margin: auto;
  padding: 0px 32px;

}

.class_bottom
{
    width: 30%;
    padding: 32px 32px;
   
}
